.stage {
  background-image: url(../../../public/images/stageCreate/stages-create-bg-1440.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  position: relative;

  &__block {
    padding: 80px 0 204px 0;
    width: 100%;
    max-width: var(--block-max-width);
    margin: 0 auto;
    color: var(--color-text);
    font-family: var(--rg-font);
  }

  &__title {
    font: var(--font-block-title);
    margin-bottom: 22px;
  }

  &__icon-wrapper {
    width: 42%;
    height: 76%;
    position: absolute;
    top: 10%;
    right: 8%;
    object-fit: contain;

    &_hovered {
      top: 9%;
      transition: 0.2s;
    }
  }

  &__wrapper {
    margin-bottom: 73px;
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
    font: var(--font-stage-btn-sm);
    cursor: pointer;
    transition:
      color 0.3s ease-in-out,
      border 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: "";
        position: absolute;
        cursor: auto;
        width: 10px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        top: 13px;
        right: -11px;
      }
    }

    &:hover {
      border-color: var(--color-lilac);
      color: var(--color-lilac);
    }

    &:focus {
      border-color: var(--color-lilac);
      color: var(--color-lilac);
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__item_active {
    border: 1px solid var(--color-text);
    color: var(--color-text);

    &:hover {
      border-color: inherit;
      color: inherit;
    }

    &:focus {
      border-color: inherit;
      color: inherit;
    }
  }

  &__heading {
    max-width: 25%;
    font: var(--font-title-description);
    margin-bottom: 12px;
  }

  &__description {
    max-width: 25%;
    height: 75px;
    font: var(--font-description-main);
    line-height: var(--line-height-big);
    margin-bottom: 81px;
  }

  &__btn {
    background-image: var(--color-gradient-button);
    background-size: 400%;
    background-position: 99%;
    border-radius: 5px;
    padding: 18px 41px;
    border: none;
    color: var(--color-text);
    font: var(--font-description-main);
    cursor: pointer;
    transition: 0.3s background-position ease-in-out;

    &:focus {
      outline: none;
      background-position: 70%;
    }

    &:hover {
      background-position: 50%;
    }

    &:active {
      transition: 0.1s background-position ease-in-out;
      background-position: 10%;
    }
  }
}

.text__slide-in {
  animation: 0.5s ease both text-slide-in;
}

.text__slide-out {
  animation: 1s both text-slide-out;
}

.button__slide-in {
  animation: 0.5s ease 0.12s both text-slide-in;
}

.button__slide-out {
  animation: 1s ease 0.6s both text-slide-out;
}

.image__slide-in {
  animation: 1s ease 0.26s both image-slide-in;
}

.image__slide-out {
  animation: 1s ease 0.25s both image-slide-out;
}

@keyframes text-slide-in {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes text-slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes image-slide-in {
  0% {
    transform: translateY(10%);
    opacity: 0;
    scale: 1.1;
  }
  44% {
    scale: 1.1;
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    scale:1;
  }
}

@keyframes image-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-40%);
  }
}

@media screen and (max-width: 1283px) {
  .stage {
    &__block {
      padding: 150px 0 132px 0;
      max-width: 80%;
    }

    &__icon-wrapper {
      width: 53%;
      top: 18%;
      right: 4%;

      &_hovered {
        top: 17%;
      }
    }

    &__wrapper {
      margin-bottom: 75px;
    }

    &__description,
    &__heading {
      max-width: 31%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .stage {
    &__block {
      max-width: 88%;
    }
    &__description {
      max-width: 42%;
    }
  }
}

@media screen and (max-width: 840px) {
  .stage {
    max-width: 100%;
    &__block {
      padding: 120px 80px 132px 0;
      max-width: var(--width-1024-768);
    }

    &__heading {
      max-width: 47%;
    }

    &__description {
      max-width: 47%;
      margin-bottom: 57px;
    }

    &__wrapper {
      margin-bottom: 73px;
    }

    &__icon-wrapper {
      width: 43%;
      top: 18%;
      right: 3%;

      &_hovered {
        top: 17%;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .stage {
    &__block {
      padding: 80px 80px 132px 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .stage {
    max-width: 100%;
    background-image: url(../../../public/images/stageCreate/stages-bg-390.webp);
    &__block {
      padding: 101px 0 432.45px 0;
      max-width: var(--width-768-280);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 10px;
    }

    &__description {
      max-width: 100%;
      margin-bottom: 38px;
    }

    &__heading {
      max-width: 100%;
      margin-bottom: 13px;
      font-weight: 600;
      font-size: var(--text-base);
      line-height: 20.8px;
      letter-spacing: var(--font-description-letter);
    }

    &__icon-wrapper {
      width: 87%;
      height: 40%;
      top: 50%;
      right: 9%;

      &_hovered {
        top: 49%;
      }
    }

    &__wrapper {
      margin-bottom: 38px;
    }

    &__item {
      width: 23px;
      height: 23px;
      border-radius: 36px;

      &:not(:last-child) {
        margin-right: 8.5px;

        &::after {
          width: 8px;
          top: 10px;
          right: -8px;
        }
      }
    }

    &__btn {
      padding: 17px 25px;
      width: 70%;
      margin-bottom: 14px;
    }
  }
}

@media screen and (max-width: 479px) {
  .stage {
    &__description,
    &__heading{
      max-width: 98%;
    }

    &__btn {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 450px) {
  .stage {
    &__icon-wrapper {
      width: 100%;
      height: 39%;
      position: absolute;
      top: 51%;
      right: 0;

      &_hovered {
        top: 50%;
      }
    }
  }
}

@media screen and (max-width: 405px) {
  .stage {
    &__icon-wrapper {
      width: 83%;
      height: 31%;
      top: 60%;
      right: 8%;

      &_hovered {
        top: 59%;
      }
    }
  }
}

@media screen and (max-width: 405px) {
  .stage {
      &__title {
        margin-left: 20px;
  }

    &__wrapper {
      margin-left: 13px;
    }

    &__heading {
     margin-left: 20px;
    }

    &__description {
     margin-left: 15px;
     margin-right: 20px;
    }

    &__btn {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 350px) {
  .stage {
    &__wrapper {
      margin-left: 10px;
    }
  }
}


