.services {
	width: var(--max-width);
	padding: 80px;
	margin: 0 auto;
	background-color: var(--color-bg-black);
	background-image: url('../../images/services-bg.png');
	background-size: cover;
}

.services__title {
	font-family: var(--rg-font);
	font-size: var(--text-xl);
	color: var(--color-text);
	margin-bottom: 40px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 1px;
}

.services__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	color: var(--color-text);

	div:nth-child(2 of div.service-card),
	div:nth-child(4 of div.service-card) {
		width: 414px;
	}

	div:nth-child(4 of div.service-card),
	div:nth-child(5 of div.service-card),
	div:nth-child(6 of div.service-card) {
		height: 331px;

		& .service-card__content {
			height: 261px;
		}
	}
}

.service-card {
	width: 413px;
	height: 346px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(2px);

	&__content {
		position: relative;
		padding: 10px 10px 30px;
		margin-bottom: 10px;
		height: 276px;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.1);

		& > h4 {
			font-family: var(--rg-font);
			font-size: var(--text-base);
			font-style: normal;
			font-weight: 600;
			line-height: 80%;
			margin: 0 0 14px;
		}

		& > p {
			margin: 0 0 15px;
			padding: 0;
			font-family: var(--cygre-font);
			font-size: var(--text-sm);
			font-weight: 400;
			letter-spacing: -0.55px;
			line-height: 120%;
		}
	}

	&__prices {
		display: flex;
		position: absolute;
		bottom: 2px;
		left: 10px;
		align-items: baseline;

		& > p {
			font-weight: 600;
			font-family: var(--rg-font);
			line-height: var(--line-height);
		}

		&_pre {
			color: var(--color-text);
			font-size: var(--text-base);
			margin-right: 3px;
		}

		&_new {
			color: var(--color-text);
			font-size: var(--text-lg);
			margin-right: 8px;
		}

		&_old {
			color: rgba(255, 255, 255, 0.5);
			font-size: var(--text-base);
			margin: auto 0;
			position: relative;
			text-decoration: none;

			&:before {
				content: '';
				border-bottom: 2px solid #eb5757;
				position: absolute;
				top: -2px;
				right: -4px;
				width: 104%;
				height: 50%;
				transform: rotate(20deg);
			}
		}
	}

	&__btns {
		display: flex;
		justify-content: space-between;

		&_order {
			padding: 10px 0;
			height: 40px;
			width: calc(100% - 49px);
			border-radius: 5px;
			border: none;
			background: var(--color-lilac);
			text-align: center;
			color: var(--color-text);
			font-family: var(--rg-font);
			font-size: var(--text-base);
			font-weight: 600;
		}

		&_ask {
			display: grid;
			place-items: center;
			height: 40px;
			width: 39px;
			border-radius: 5px;
			border: 1px solid rgba(255, 255, 255, 0.7);
		}
	}
}
