.wrapper {
	width: 100vw;
}

.services {
	width: var(--max-width);
	padding: 80px;
	margin: 0 auto;
	color: #ffffff;
}

.services__title {
	margin-bottom: 40px;
	font: var(--font-block-title);
	line-height: 130%;
	letter-spacing: 1px;
}

.services__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;

	div:nth-child(2 of div.service-card),
	div:nth-child(4 of div.service-card) {
		width: 414px;
	}

	div:nth-child(4 of div.service-card),
	div:nth-child(5 of div.service-card),
	div:nth-child(6 of div.service-card) {
		height: 331px;

		& .service-card__content {
			height: 261px;
		}
	}
}

.service-card {
	width: 413px;
	height: 346px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(2px);

	&__content {
		position: relative;
		padding: 9px 9px 30px 10px;
		margin-bottom: 10px;
		height: 276px;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.1);

		& > h4 {
			font-family: var(--rg-font);
			font-size: var(--text-base);
			font-style: normal;
			font-weight: 600;
			margin: 0 0 15px;
		}

		& > p {
			margin: 0 0 15px;
			padding: 0;
			font: var(--font-description-main);
			letter-spacing: -0.48px;
			line-height: 114%;
		}
	}

	&__prices {
		display: flex;
		position: absolute;
		bottom: 2px;
		left: 10px;
		align-items: baseline;
		font-size: var(--text-base);

		& > p {
			font-weight: 600;
			font-family: var(--rg-font);
			line-height: var(--line-height);
		}

		&_pre {
			margin-right: 4px;
		}

		&_new {
			font-size: var(--text-lg);
			margin-right: 8px;
		}

		&_old {
			color: rgba(255, 255, 255, 0.5);
			margin: auto 0;
			position: relative;
			text-decoration: none;

			&:before {
				content: '';
				border-bottom: 2px solid #eb5757;
				position: absolute;
				top: -2px;
				right: -4px;
				width: 104%;
				height: 50%;
				transform: rotate(20deg);
			}
		}
	}

	&__btns {
		display: flex;
		justify-content: space-between;

		&_order {
			padding: 10px 0;
			height: 40px;
			width: calc(100% - 48px);
			border-radius: 5px;
			border: none;
			background: var(--color-lilac);
			text-align: center;
			font-family: var(--rg-font);
			font-size: var(--text-base);
			font-weight: 600;

			&:hover {
				background-color: #b3b9fc;
			}

			&:active {
				background-color: #cbcffd;
			}
		}

		&_ask {
			display: grid;
			place-items: center;
			height: 40px;
			width: 37px;
			border-radius: 5px;
			outline: 1px solid rgba(255, 255, 255, 0.7);
		}
	}
}
