.card {
  &__container {
    width: 413px;
    height: 360px;
    background: transparent;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &__image {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
