.faq {
  margin: 0 auto;
  max-width: var(--block-max-width);
  display: flex;
  justify-content: space-between;
  // padding-bottom: 50px;
  // padding-top: 50px;
  padding: 50px;
  gap: 20px;

  &__title {
    width: 32.9%;
    font: var(--font-block-title);
    color: var(--color-text);
  }

  &__list {

    // width: 738px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .faq {
    max-width: 1024px;

    &__title {
      // width: 422px;
    }

    &__list {
      // width: 589px;
    }
  }
}

@media screen and (max-width: 834px) {
  .faq {
    max-width: 768px;
    justify-content: center;
    // перенесли 
    flex-direction: column;

    &__title {
      // width: 280px;
    }

    &__list {
      // width: 472px;
    }
  }
}

@media screen and (max-width: 390px) {
  .faq {
    max-width: 320px;

    &__title {
      // width: 320px;
      margin-bottom: 50px;
    }

    &__list {
      // width: 286px;
      gap: 49px;
    }
  }
}
