.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  gap: 10px;

  &_inview {
    //animation: appearAndRotate 0.5s ease forwards;
    //transform-origin: center;
    opacity: 1;

    @keyframes appearAndRotate {
      0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
      }
      100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
      }
    }
  }

  &__lineone,
  &__linetwo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
  }

  &__lineone {
    &_inview {
      &-one {
        animation-delay: 276ms;
        animation: appearAndRotate 1s ease forwards;
        transform-origin: center;
        opacity: 0;
      }

      &-two {
        animation-delay: 291ms;
        animation: appearAndRotate 1s ease forwards;
        transform-origin: center;
        opacity: 0;
      }
    }
  }

  &__linetwo {
    &_inview {
      &-one {
        animation-delay: 307ms;
        animation: appearAndRotate 1s ease forwards;
        transform-origin: center;
        opacity: 0;
      }

      &-two {
        animation-delay: 319ms;
        animation: appearAndRotate 1s ease forwards;
        transform-origin: center;
        opacity: 0;
      }
    }
  }
}
