%title-defaults {
	font: var(--font-title-description);
	max-width: 90%;
	position: relative;
	z-index: 350;
}

.modal-item {
	display: flex;
	flex-direction: column;
	row-gap: 13px;

	&__title {
		@extend %title-defaults;

		&_required {
			@extend %title-defaults;

			&::after {
				content: '*';
				position: absolute;
				color: var(--color-red);
			}
		}
	}

	&__input {
		border: none;
		font: var(--font-description-main);
		border-radius: 10px;
		padding: 17px 10px;
		background-color: var(--color-gray-bg);
		line-height: var(--line-height-big);
		letter-spacing: var(--font-description-letter);
		position: relative;

		&:focus-visible {
			outline: none;
		}

		&_message {
			resize: none;
			padding: 13px 10px;

			&::placeholder {
				line-height: 61px;
				vertical-align: bottom;
			}
		}
	}

	&:last-of-type {
		margin-bottom: 24px;
	}

	&__error {
		color: #eb5757;
		font-family: var(--involve-font);
		font-size: 11px;
		line-height: 14.3px;
		position: absolute;
		top: 34.8%;
		left: 8%;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}

.select-container {
	position: relative;
	width: 100%;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	font-family: var(--involve-font);
	font-weight: 500;
	border-radius: 0;
}
	.option {
		font-size: 16px;
		font-family: var(--involve-font);
		font-weight: 500;
		color: #1b1c33;
		background-color: #f2f2f2;

		&:focus {
			outline: 2px solid #8792fc;
			background-color: #f2f2f2;
		}

		&:hover {
			background-color: #f2f2f2;
			color: #1b1c33;
			outline: 2px solid #8792fc;
		}
	}


.icon-arrow {
	position: absolute;
	top: 25.5px;
	right: 18px;
	transform: translateY(-50%);
	pointer-events: none;

}

@media screen and (min-width: 834px) and (max-width: 1279px) {
	.modal-item {
		row-gap: 17px;

		&:last-of-type {
			margin-bottom: 8px;
		}
	}
}

@media screen and (max-width: 833px) {
	.modal-item {
		&:last-of-type {
			margin-bottom: 5px;
		}
	}
}

@media screen and (min-width: 694px) and (max-width: 833px) {
	.modal-item {
		&:last-of-type {
			margin-bottom: 24px;
		}
	}
}
