.choice {
	max-width: var(--block-max-width);
	display: flex;
	flex-direction: column;
	row-gap: 50px;

	&__title {
		font: var(--font-block-title);
		color: var(--color-text);
	}

	&__list {
		display: grid;
		grid-template-columns: 0.98fr 0.46fr 1.54fr 1fr 0.7fr 1.28fr;
		grid-column-gap: var(--grid-gap);
		grid-row-gap: var(--grid-gap);
	}
}
