.about-us {
	font-family: var(--rg-font);
	color: var(--color-bg-white);
	padding-block: 80px;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	&__h2-title {
		font: var(--font-block-title);
		margin-bottom: 14px;
	}

	&__h3-title {
		display: inline-flex;
		width: 35%;
		line-height: var(--line-height);
		font-size: var(--text-base);
		margin-bottom: 35px;
		font-family: var(--involve-font);
	}

	&__main {
		width: 100%;
		max-width: 1280px;
		display: flex;
		column-gap: 20px;
		color: var(--color-bg-white);
		font: var(--font-description-main);
	}

	&__image {
		display: flex;
		width: 100%;
	}

	&__goals {
		display: flex;
		flex-direction: column;
		padding-top: 62px;
		row-gap: 18px;
		font-family: var(--involve-font);
		font-size: var(--text-sm);
	}

	&__goals-list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__goals-resume {
		font-weight: 500;
		line-height: var(--line-height-big);
	}
}

.goals-list {
	&__item {
		background-color: var(--color-lilac);
		color: var(--color-bg-black);
		border-radius: 5px;
		padding: 4px 8px 6px;
		font-family: var(--cygre-font);
		font-weight: 700;
	}
}

.goals-resume {
	&__item {
		&:first-of-type {
			margin-bottom: 10px;
		}

		&:last-of-type {
			color: var(--color-lilac);
		}
	}
}
