.about-us {
  font-family: var(--rg-font);
  color: var(--color-bg-white);
  padding-block: 80px;
  max-width: var(--block-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__h2-title {
    font: var(--font-block-title);
    margin-bottom: 14px;
  }

  &__h3-title {
    display: inline-flex;
    width: 35%;
    margin-bottom: 35px;
    font: var(--font-title-description);
  }

  &__main {
    width: 100%;
    display: flex;
    column-gap: 20px;
    color: var(--color-bg-white);
    font: var(--font-description-main);
  }

  &__image {
    background-image: url(/images/aboutUs/about-us-main-image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 409px;
    border-radius: 18px;
  }

  &__goals {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding-top: 62px;
    row-gap: 18px;
    font-size: var(--text-sm);
  }

  &__goals-resume {
    font-weight: 500;
    line-height: var(--line-height-big);
  }
}

.goals-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &__item {
    background-color: var(--color-lilac);
    color: var(--color-dark-purple);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: var(--font-sm);
    font-weight: 700;
  }
}

.goals-resume {
  &__item {
    &:first-of-type {
      margin-bottom: 10px;
    }

    &:last-of-type {
      color: var(--color-lilac);
    }
  }
}

@media screen and (max-width: 1280px) {
  .about-us {
    max-width: var(--width-1280-1024);
    padding-top: 12px;
    &__h2-title {
      margin-bottom: 16px;
    }

    &__h3-title {
      width: 45%;
      margin-bottom: 45px;
    }

    &__image {
      height: 472px;
    }

    &__goals {
      padding-top: 0;
      margin-top: -12px;
      flex-basis: 36%;
    }
  }

  .goals-resume {
    &__item {
      width: 98%;
    }
  }
}

@media screen and (min-width: 834px) and (max-width: 1084px) {
  .about-us {
    padding-top: 122px;
    max-width: var(--width-1024-768);
    &__h3-title {
      width: 57%;
    }

    &__image {
      height: 472px;
    }

    &__goals {
      flex-basis: 58%;
    }
  }

  .goals-resume {
    &__item {
      width: 95%;
    }
  }
}

@media screen and (max-width: 833px) {
  .about-us {
    padding-top: 80px;
    max-width: var(--width-768-280);
    &__h2-title {
      font-size: 40px;
      margin-bottom: 8px;
    }

    &__h3-title {
      font-size: 19px;
      width: 100%;
      margin-bottom: 32px;
    }

    &__image {
      height: 409px;
    }

    &__main {
      flex-direction: column;
      row-gap: 24px;
    }

    &__goals {
      margin-top: 0;
    }
  }

  .goals-resume {
    &__item {
      width: 100%;

      &:first-of-type {
        margin-bottom: 4px;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .about-us {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 322px) {
  .about-us {
    padding-left: 25px;
    padding-right: 25px;
  }
}
