.about-us {
	width: 1440px;
	background-image: url('../../images/components-container-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--rg-font);

	&__title {
		margin-top: 80px;
		margin-left: 80px;
		color: var(--color-bg-white);

		h1 {
			line-height: 57.6px;
			font-family: var(--rg-font);
			font-size: var(--text-xl);
			margin-bottom: 10px;
		}

		h3 {
			font-size: var(--text-base);
			line-height: 24px;
			margin-bottom: 35px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 80px 0 80px;
		color: var(--color-bg-white);
		font: var(--font-description-main);
		text-align: justify;

		&_goals {
			display: flex;
			margin-left: 20px;
			max-width: 320px;
			flex-wrap: wrap;
			max-height: 72px;

			p {
				padding: 10px;
				background-color: var(--color-lilac);
				font-weight: 700;
				font-size: var(--text-sm);
				line-height: 20.8px;
				color: var(--color-bg-black);
				border-radius: 5px;

				&:first-child {
					margin-right: 10px;
				}

				&:last-child {
					margin-top: 10px;
				}
			}
		}

		&_resume {
			max-width: 506px;
			margin: 40px 20px 0 20px;
			font-weight: 400;
			font-size: 16px;
			font-family: var(--cygre-font);
			line-height: 20.8px;

			p {
				&:nth-child(2) {
					color: var(--color-lilac);
					margin-top: 10px;
				}
			}
		}
	}
}
