.section {
	width: 100%;
	background-image: url('../../../public/images/componentsContainer/components-container-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1440px;
}
