.section {
	width: 100%;
	background-image: url('../../../public/images/componentsContainer/components-container-bg.webp');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
