.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../public/images/notFound/error-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: var(--color-text);
  margin-bottom: 70px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 597px;
    width: 88.8%;
    margin: 0 auto;
    text-align: center;

    .name {
      all: unset;
      width: 100%;
      font: var(--font-block-title);
      font-size: 388px;
      padding: 0;
      margin: 70px 0 0;

    }

    .text {
      font: var(--font-title-description);
      margin-top: -66px;
      margin-bottom: 40px;
      text-align: center;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-lilac);
      width: 255px;
      height: 40px;
      padding: 10px 0 10px 0;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
            background-color: #b3b9fc;
          }

          &:active {
            background-color: #cbcffd;
          }

      .link {
        text-decoration: none;
        color: var(--color-text);
        font: var(--font-button);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .not-found {
    &__container {
      width: 87.5%;
    }
  }
}

  @media screen and (max-width: 834px) {
    .not-found {
      background-image: url(../../../public/images/notFound/bg-834.webp);
      background-size: contain;
      background-position: inherit;
      &__container {
       width: 89.2%;
        margin-top: 230px;
      }
    }
  }

@media screen and (max-width: 640px) {
  .not-found {
    &__container {
      width: 100%;

      .name {
        font-size: 280px;
      }
    }
    }
  }

@media screen and (max-width: 470px){
  .not-found {
    &__container {
      .name {
        font-size: 200px;
        margin: 0;
      }

      .text {
        margin-bottom: 40px;
        margin-top: -48px;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .not-found {
    &__container {
      margin-top: 415px;
    }
  }
}
