.portfolio {
  &__container {
    max-width: var(--max-width);
    padding: 92px 0 80px 80px;
    color: var(--color-text);
    margin: 0 auto;
  }

  &__title {
    display: block;
    font-size: 42px;
    font: var(--font-block-title);
  }

  &__btn-group {
    color: var(--color-text);
    display: flex;
    margin-top: 15px;
    column-gap: 10px;
  }

  &__card-box {
    min-height: 361px;
    margin-top: 40px;
  }

  &__card-box_item {
    width: 413px;
    cursor: pointer;
  }

  &__pagination {
    display: none;
  }

  &__pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 2.5px !important;
    background-color: var(--color-bg-white);
  }
}

.flipping-btn {
  background: none;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;

  &:active {
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in;
  }
}

@media screen and (max-width: 1280px) {
  .portfolio {
    &__container {
      max-width: 1280px;
      padding: 0 0 80px;
    }

    &__title {
      width: 80%;
      max-width: 1024px;
      margin: 0 auto;
    }

    &__btn-group {
      width: 80%;
      margin: 14px auto 41px;
    }

    &__card-box {
      width: 90%;
      margin: 0 0 0 auto;
      max-height: 285px;
      min-height: auto;
    }

    &__card-box_item {
      width: 328px;
    }
  }
}

@media screen and (max-width: 835px) {
  .portfolio {
    &__container {
      max-width: 834px;
      padding-top: 80px;
      padding-left: 30px;
    }

    &__title {
      width: 92%;
      margin-bottom: 45px;
    }

    &__btn-group {
      display: none;
    }

    &__card-box {
      width: 100%;
      margin: 0 auto 20px;
    }

    &__card-box_item {
      width: 374px;
    }

    &__pagination {
      display: block;
      width: 130px !important;
      margin: 0 auto !important;
    }
  }
}

@media screen and (max-width: 580px) {
  .portfolio {
    &__container {
      padding-top: 80px;
      padding-bottom: 60px;
    }

    &__card-box_item {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 430px) {
  .portfolio {
    &__container {
      padding: 80px 0 60px 25px;
    }

    //&__title {
    //  width: 82%;
    //  margin-bottom: 32px;
    //  font-size: 40px;
    //}

    //&__card-box_item {
    //  min-width: 300px;
    //  max-width: 320px;
    //}
  }
}

@media screen and (max-width: 405px) {
  .portfolio {
    &__container {
      padding: 80px 0 60px 20px;
    }
  }
}

@media screen and (max-width: 395px) {
  .portfolio {
    &__container {
      padding: 80px 0 60px 10px;
    }

    &__title {
      width: 85%;
      margin-bottom: 32px;
      font-size: 40px;
    }

    &__card-box {
      max-height: 330px;
      margin-bottom: 20px;
    }
  }
}


@media screen and (max-width: 351px) {
  .portfolio {
    &__container {
      padding: 80px 0 60px 10px;
    }

    &__title {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 335px) {
  .portfolio {
    &__container {
      padding: 80px 0 60px 0;
    }
    &__card-box {
      margin-left: 1px;
    }

    &__title {
      margin-left: 30px;

    }
  }
}

@media screen and (max-width: 322px) {
  .portfolio {

      &__title {
        margin-left: 30px;

    }
  }
}
