.portfolio {
	&__container {
		// display: flex;
		// flex-direction: column;
		max-width: var(--max-width);
		padding: 80px;
		padding-right: 0;
		color: var(--color-text);
		margin: 0 auto;
	}

	&__title {
		display: block;
		font-size: 42px;
		font: var(--font-block-title);
	}

	&__btn-group {
		color: var(--color-text);
		display: flex;
		margin-top: 15px;
		column-gap: 10px;
	}

	&__card-box {
		// display: flex;
		// overflow-x: hidden;
		// overflow-y: visible;
		min-height: 361px;
		// column-gap: 20px;
		margin-top: 20px;
	}
}

.flipping-btn {
	background: none;
	border: 1px solid var(--color-text);
	color: var(--color-text);
	border-radius: 100px;
	width: 34px;
	height: 34px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in;

	&:active {
		color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.5);
		transition: all 0.1s ease-in;
	}
}

// 
// .portfolio__pagination {
//   --swiper-pagination-top: 10px;
//   width: 100%;
//   padding: 0 15px;
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   gap: 4px;
// }

// .swiper-pagination-bullet {
//   width: 100%;
//   height: 3px;
//   border-radius: 6px;
//   background-color: rgba(255, 255, 255, 0.4);
//   border: none;
// }
// 


@media screen and (max-width: 1280px) {
	.portfolio {
	&__container {
		max-width: 1280px;
		padding: 0;
	}

	&__title {
		width: 80%;
		max-width: 1024px;
		margin: 0 auto;
	}

	&__btn-group {
		width: 80%;
		margin: 14px auto 41px;
	}

	&__card-box {
		width: 90%;
		margin: 0 0 0 auto;
		// min-height: 101px;
		max-height: 285px;
		min-height: auto;
	}
}
}

@media screen and (max-width: 834px) {
	.portfolio {
		&__container {
			max-width: 834px;
		}
		&__title {
			width: 92%;
			margin-bottom: 45px;
		}
		&__btn-group {
			display: none;
		}
		&__card-box {
			width: 96%;
		}
	}
}

@media screen and (max-width: 390px) {
	.portfolio {
		&__container {
			max-width: 390px;
		}
		&__title {
			width: 82%;
		}
		&__card-box {
			width: 91%;
			max-height: 367px;
		}
	}
}

