.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	z-index: 300;
	background-color: var(--color-bg-white);
	border-radius: 20px;
	padding: 31px 40px;
	max-width: 608px;
	max-height: 787px;


	&__close-btn {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 17px;
		right: 20px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: var(--color-lilac);
		border: none;

		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: #a6aeff;
			cursor: pointer;
		}

		&:active {
			background-color: #ccd1fd;
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__title {
		font: var(--font-block-title);
		font-size: var(--text-lg);
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		outline: 2px solid tomato;
	}

	&__btn {
		font: var(--font-button-rg);
		color: var(--color-text);
		padding: 15px 25px;
		background-image: var(--color-gradient-button);
		background-size: 400%;
		background-position: 99%;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		transition: 0.3s background-position ease-in-out;

		&:focus {
			outline: none;
		}

		&:hover {
			background-position: 50%;
		}

		&:active {
			transition: 0.1s background-position ease-in-out;
			background-position: 10%;
		}
		&:disabled {
			background-image:none;
			background-color: #CACCD7;
			cursor: auto;
		}
	}
}

@media screen and (min-width: 836px) and (max-width: 1279px) and (orientation: portrait) {
	.modal {
		max-width: 73%;
		padding: 68px 40px;
		row-gap: 46px;

		&__close-btn {
			width: 46px;
			height: 46px;
		}

		&__title {
			font-size: var(--text-xl);
			word-spacing: -1px;
		}

		&__form {
			row-gap: 32px;
		}
	}
}

@media screen and (min-width: 694px) and (max-width: 835px) and (orientation: portrait)  {
	.modal {
		max-width: 61%;
		min-height: 783px;
		padding: 32px 36px;
		//row-gap: 20px;

		&__close-btn {
			width: 40px;
			height: 40px;
			top: 20px;
			right: 17px;
		}

		&__title {
			font-size: var(--text-lg);
		}

		&__form {
            row-gap: 36px;
		}
	}
}

@media screen and (max-width: 391px) and (orientation: portrait)  {
	.modal {
		padding: 10px 18px;
		max-width: 320px;
		max-height: 829px;


		&__title {
			max-width: 80%;;
		}

		&__form {
			row-gap: 14px;
		}
	}
}

