.modal {
	background-color: var(--color-bg-black);
	font: var(--font-description-main);
	position: relative;
	max-width: 766px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 39px 53px 31px;

	&_show {
		animation: show 0.3s ease forwards;

		@keyframes show {
			from {
				transform: scale(0);
				opacity: 0;
			}

			to {
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	&_hiding {
		animation: hiding 0.3s ease forwards;

		@keyframes hiding {
			from {
				transform: scale(1);
				opacity: 1;
			}
			
			to {
				transform: scale(2);
				opacity: 0;
			}
		}
	}

	&__close-btn {
		position: absolute;
		top: 18px;
		right: 18px;
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background-color: var(--color-lilac);
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;

		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: #a6aeff;
			cursor: pointer;
		}

		&:active {
			background-color: #ccd1fd;
		}

		&:focus {
			background-color: #a6aeff;
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__title {
		font: var(--font-block-title);
		color: var(--color-lilac);
		line-height: 57.6px;
	}

	&__description {
		margin: 25px 0 35px;

		p {
			font: var(--font-description-main);
			color: var(--color-text);
		}
	}

	&__example {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	&__btn {
		font: var(--font-button);
		color: var(--color-text);
		padding: 5px 25px;
		margin-top: 40px;
		background-image: var(--color-gradient-button);
		background-size: 400%;
		background-position: 99%;
		border-radius: 5px;
		border: none;

		transition: 0.3s background-position ease-in-out;

		&:focus {
			outline: none;
		}

		&:hover {
			background-position: 50%;
			cursor: pointer;
		}

		&:active {
			transition: 0.1s background-position ease-in-out;
			background-position: 10%;
		}
	}
}

@media screen and (max-width: 767px) {
	.modal {
		width: 82vw;
		padding: 24px 20px 20px;

		&__title {
			width: 90%;
			font: var(--font-button);
		}

		&__description {
			margin: 21px 0 16px;
		}

		&__example {
			img {
				width: 100%;
				max-height: 167px;
			}
		}

		&__close-btn {
			right: 7px;
		}

		&__btn {
			margin-top: 20px;
		}
	}
}


.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}