.modal {
  background-color: var(--color-bg-black);
  font: var(--font-description-main);
  position: relative;
  max-width: 766px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 39px 53px 31px;

  &__close-btn {
      position: absolute;
      top: 18px;
      right: 18px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: var(--color-lilac);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: #A6AEFF;
        cursor: pointer;
      }

      &:active {
        background-color: #CCD1FD;
      }

      &:focus {
        background-color: #A6AEFF;
      }

      &:focus-visible {
        outline: none;
      }
    }

  &__title {
    font-size: var(--text-xl);
    color: var(--color-lilac);
    line-height: 57.6px;
    font-family: var(--rg-font);
  }

  &__description {
    margin: 25px 0 35px;

    h4 {
      font: var(--font-description-main);
      color: var(--color-text);
    }
  }

  &__example {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__btn {
    font: var(--font-button);
    color: var(--color-text);
    padding: 5px 25px;
    background-image: var(--color-gradient-button);
    background-size: 400%;
    background-position: 99%;
    border-radius: 5px;
    border: none;
    margin-top: 40px;

    transition: 0.3s background-position ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover {
      background-position: 50%;
      cursor: pointer;
    }

    &:active {
      transition: 0.1s background-position ease-in-out;
      background-position: 10%;
    }
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 82vw;
    padding: 22px 20px 20px;

    &__title {
      font: var(--font-button);
    }

    &__description {
      margin: 25px 0 16px;
    }

    &__example {
      img {
        width: 100%;
        max-height: 167px;
      }
    }

    &__close-btn {
      right: 7px;
    }

    &__btn {
      margin-top: 20px;
    }
  }
}
