.promo {
	background-image: url('../../../public/images/promo/promo-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	color: var(--color-text);
	width: 100%;
	* {outline: 2px solid tomato}

	&__container {
		padding: 126px 0 124px 0;
		display: flex;
		justify-content: space-between;
		height: 100%;
		margin: 0 auto;
		max-width: var(--block-max-width);
		width: 88.9%;
	}

	&__main {
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

	&__h1-title-box {
		font: var(--font-title-description);
		margin-top: 8px;
		display: flex;
		align-items: center;
		max-width: max-content;
		padding: 6px 16px;
		border-radius: 25px;
		background: rgba(135, 146, 252, 0.25);
		box-shadow:
			0px -7px 20px 0px rgba(132, 132, 132, 0.25) inset,
			0px 8px 12px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(7.5px);
	}

	&__h1-title {
		all: unset;
	}

	&__copyright {
		color: var(--color-lilac);
	}

	&__title {
		font-family: var(--rg-font);
		font-size: 32px;
		font-weight: 600;
		line-height: 120%;
	}

	&__link-list {
		display: flex;
		column-gap: 10px;
		margin-top: 190px;
	}

	&__link-box {
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(11px);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.3s ease-in-out;
		}
	}

	&__link {
		color: var(--color-text);
		display: flex;
		align-items: center;
		column-gap: 10px;
		padding: 15px;
	}
}

@media screen and (max-width: 1280px) {
	.promo {
		&__container {
			width: var(--width-1280-1025);
		}
		&__main {
			flex-basis: 50%;
		}

		&__link-list {
			display: flex;
			column-gap: 10px;
			margin-top: 187px;
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 834px) {
	.promo {
		&__container {
			width: var(--width-1024-769);

		}

		&__main {
			flex-basis: 55%;
		}


	}
	}

@media screen and (max-width: 834px){
	.promo {
		&__container {
			width: var(--width-768-280);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		//&__main {
		//	flex-basis: 45%;
		//}
	}
}

//@media screen and (max-width: 390px){
//	.promo {
//		&__container {
//			width: 82%;
//		}
//	}
//}

