.promo {
	background-image: url('/images/promo/promo-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	color: var(--color-text);
	width: 100%;

	&__container {
		padding: 126px 0 124px 0;
		display: flex;
		justify-content: space-between;
		height: 100%;
		margin: 0 auto;
		max-width: var(--block-max-width);
	}

	&__main {
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

	&__h1-title-box {
		font: var(--font-title-description);
		margin-top: 8px;
		display: flex;
		align-items: center;
		max-width: max-content;
		padding: 6px 16px;
		border-radius: 25px;
		background: rgba(135, 146, 252, 0.25);
		box-shadow:
			0px -7px 20px 0px rgba(132, 132, 132, 0.25) inset,
			0px 8px 12px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(7.5px);
	}

	&__h1-title {
		all: unset;
	}

	&__copyright {
		color: var(--color-lilac);
	}

	&__title {
		font-family: var(--rg-font);
		font-size: 32px;
		font-weight: 600;
		line-height: 120%;
	}

	&__link-list {
		display: flex;
		column-gap: 10px;
		margin-top: 190px;
	}

	&__link-box {
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(11px);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.3s ease-in-out;
		}
	}

	&__link {
		color: var(--color-text);
		display: flex;
		align-items: center;
		column-gap: 10px;
		padding: 15px;
	}
}
