.promo {
	background-image: url('../../../public/images/promo/promo-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	color: var(--color-text);
	width: 100%;

	&__container {
		padding: 126px 0 124px 0;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: var(--block-max-width);
	}

	&__main {
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

	&__h1-title-box {
		font: var(--font-title-description);
		margin-top: 8px;
		display: flex;
		align-items: center;
		max-width: max-content;
		padding: 6px 16px;
		border-radius: 25px;
		background: rgba(135, 146, 252, 0.25);
		box-shadow:
			0px -7px 20px 0px rgba(132, 132, 132, 0.25) inset,
			0px 8px 12px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(7.5px);
	}

	&__h1-title {
		all: unset;
	}

	&__copyright {
		color: var(--color-lilac);
	}

	&__title {
		font-family: var(--rg-font);
		font-size: 32px;
		font-weight: 600;
		line-height: 122%;
	}

	&__link-list {
		display: flex;
		column-gap: 9px;
		margin-top: 187px;
	}

	&__link-box {
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(11px);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.3s ease-in-out;
		}
	}

	&__link {
		color: var(--color-text);
		display: flex;
		align-items: center;
		column-gap: 10px;
		padding: 15px;
	}
}

@media screen and (max-width: 1280px) {
	.promo {
		&__container {
			width: var(--width-1280-1024);
		}
		&__main {
			flex-basis: 50%;
			row-gap: 17px;
			line-height: 121%;
		}

		&__title {
			padding-left: 1px;
		}

		&__link-list {
			column-gap: 10px;
			margin-top: 185px;
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 834px) {
	.promo {
		&__container {
			width: 100%;
		}

		&__main {
			flex-basis: 52%;
		}
	}
	}

@media screen and (max-width: 1050px) {
	.promo {
		&__container {
			width: 89%;
		}
	}
}

@media screen and (max-width: 835px){
	.promo {
		background-image: url('../../../public/images/promo/promo-bg768.png');

		&__container {
			width: 92.1%;
			flex-direction: column;
			align-items: center;
			gap:100px;
			padding-bottom: 0;
		}

		&__main {
			flex-basis: 67%;
			row-gap: 10px;
		}

		&__h1-title-box {
			padding: 10px 16px;
			margin: 0 auto;
		}

		&__title {
			text-align: center;
			padding: 0 105px;
			line-height: 120%;
		}

		&__link-list {
			margin-top: -2px;
			justify-content: center;
		}
	}
}

@media screen and (max-width: 685px) {
	.promo {
		&__container {
			gap: 50%;
		}
		&__title {
			padding: 0 10px;
		}
	}
}

@media screen and (max-width: 390px){
	.promo {
		background-image: url('../../../public/images/promo/promo-bg390.png');

		&__container {
			width: 82%;
			gap:89px;
		}

		&__main {
			row-gap: 11px;
		}

		&__title {
			line-height: 122%;
			width: 100%;
			padding: 0;
			font-family: var(--involve-font);
			font-size: var(--text-base);
		}

		&__link-list {
			margin-top: 30px;
			justify-content: center;
			column-gap: 10px;
		}

		&__link {
            padding: 4px;
		}
	}
}

