.faq-card {
  color: var(--color-text);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
  }

  &__title {
    // width: 581px;
    font: var(--font-title-description);
    line-height: 115%;
    // решает пролему с плюсиками 
    flex-basis: 80%;
  }
  &__description {
    margin-top: 33px;
    font: var(--font-description-main);
    letter-spacing: var(--font-description-letter);
  }
}
