.faq-card {
  color: var(--color-text);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;

    @media screen and (max-width: 1280px) {
      .faq-card {
        &__header {
          padding: 17px;
        }
      }
    }
  }

  &__title {
    font: var(--font-title-description);
    line-height: 115%;
    flex-basis: 100%;
  }
  &__description {
    margin-top: 33px;
    font: var(--font-description-main);
    letter-spacing: var(--font-description-letter);
  }
}
