.faq-card {
	color: var(--color-text);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		border-bottom: 1px solid var(--color-text);
	}

	&__title {
		width: 581px;
		font: var(--font-title-description);
		line-height: 115%;
	}

	&__description {
		font: var(--font-description-main);
		letter-spacing: var(--font-description-letter);
	}
}
