.card {
  &__image {
    display: flex;
    //flex-direction: column;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    max-width: max-content;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid var(--color-lilac);

    &_center {
      border-radius: 10px;
      border-color: var(--color-lilac);
      border: 2px solid var(--color-lilac);
    }

    &_left {
      transform: translate(0px, 10%);
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
    }

    &_right {
      transform: translate(0px, 10%);
      border-radius: 10px 0px 0px 10px;
      background: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
    }
  }
}
