.guarantee {
	width: 100%;
	padding: 80px 80px 92px;
	background-image: url('/images/guarantee/background.webp');
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(28px);
	background-position: center;

	&__container {
		max-width: 1280px;
		margin: 0 auto;
	}

	&__gradient {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.9;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg,
				rgba(7, 6, 6, 0) 50%,
				var(--color-bg-black) 100%),
			linear-gradient(0deg, rgba(7, 6, 6, 0) 50%, var(--color-bg-black) 100%);
	}

	&__title {
		margin: 0 0 7px 0;
		font: var(--font-block-title);
		color: var(--color-text);
	}

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 20px;
		row-gap: 23px;
	}

		&__pagination {
			display: none;
		}

		&__pagination-bullet {
		width: 12px;
		height: 12px;
		margin: 0 2.5px !important;
		background-color: var(--color-bg-white);
	}
}

@media screen and (max-width: 1280px) {
	.guarantee {
		padding-bottom: 77px;

	&__container {
		max-width: 1024px;
	}
}
}

@media screen and (max-width: 934px) {
	.guarantee {
	padding: 80px 0 51px;
	background-image: url('/images/guarantee/background-tablet.webp');
	@media screen and (min-width: 701px) and (max-width: 833px) {
		padding: 80px 20px 77px;
	}

	&__container {
		max-width: 768px;
	}

		&__list {
			row-gap: 21px;
		}
}
}

@media screen and (max-width: 700px) {
	.guarantee {
		background-image: url('/images/guarantee/background-mobile.webp');
		background-size: 100% 100%;
		
		&__container {
			width: 91%;
			margin-right: 0;
		}
		
		&__title {
			font-size: 40px;
			margin-bottom: 52px;
		}

		&__pagination {
			display: block;
			width: 155px !important;
			margin: 0 auto !important;
		}
	}
}