.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px;
	min-height: 100vh;
	max-width: var(--max-width);
	font-family: var(--rg-font);
	line-height: var(--line-height);
	// background-color: var(--color-bg-black);
	background-image: url('../../images/components-container-bg.png');
	margin: 0 auto;
}
