.card {
	&__container {
		min-width: 413px;
		height: 360px;
		background: transparent;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__image {
		z-index: 0;
		height: 100%;
		overflow: hidden;
		clip-path: path(
			'M198.814 0H21.1966C9.5221 0 0.0887085 9.52166 0.197469 21.1956L2.88062 309.196C2.98795 320.717 12.358 330 23.8797 330H321.288C332.886 330 342.288 320.598 342.288 309V286.778C342.288 275.18 351.69 265.778 363.288 265.778H392C403.598 265.778 413 256.376 413 244.778V49.4012V21C413 9.40202 403.598 0 392 0H198.814Z'
		);
	}

	&__bg {
		left: -47px;
		top: -4px;
	}

	&__tag,
	&__link,
	&__bg {
		position: absolute;
	}

	&__tag {
		padding: 5px 15px;
		background-color: #1b1c33;
		border-radius: 28px;
		font: var(--font-description-main);
		text-align: center;
		letter-spacing: -0.48px;
		left: 9px;
		top: 9px;
	}

	&__link {
		bottom: 40px;
		right: 14px;
		width: 44px;
		height: 44px;
		padding: 10px;
		border-radius: 43px;
		border: 1px solid transparent;
		background-color: var(--color-lilac);
		color: var(--color-text);
		transition: all 0.3s ease-in-out;

		&:hover {
			border: 1px solid var(--color-lilac);
			background-color: var(--color-text);
			color: var(--color-lilac);
			transition: all 0.3s ease-in-out;
		}
	}

	&__title {
		color: var(--color-text);
		font-size: var(--text-base);
		line-height: var(--line-height);
	}
}
