.card {
	&__image {
		position: relative;
	}

	&__bg {
		width: 100%;
		height: 330px;
	}

	&__tag,
	&__link {
		position: absolute;
	}

	&__tag {
		padding: 5px 19px;
		background-color: #1b1c33;
		border-radius: 28px;
		font-family: var(--involve-font);
		text-align: center;
		line-height: var(--line-height-big);
		letter-spacing: -0.48px;
		left: 9px;
		top: 9px;
	}

	&__link {
		bottom: 5%;
		right: 3.5%;
		width: 44px;
		height: 44px;
		padding: 9px;
		border-radius: 43px;
		border: 1px solid transparent;
		background-color: var(--color-lilac);
		color: var(--color-text);
		transition: all 0.3s ease-in-out;

		&:hover {
			border: 1px solid var(--color-lilac);
			background-color: var(--color-text);
			color: var(--color-lilac);
			transition: all 0.3s ease-in-out;
		}
	}

	&__title {
		color: var(--color-text);
		font-size: var(--text-base);
		line-height: var(--line-height);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 1280px) {
	.card {
		&__bg {
			max-height: 259px;
		}
		&__link {
			bottom: 2%;
			right: 1%;
			@media screen and (max-width: 900px) {
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 840px) {
	.card {
		&__link {
				bottom: 1%;
				right: 0;
			}
	}
}

@media screen and (max-width: 715px) {
	.card {
		&__bg {
			max-width: 100%;
		}

		&__link {
			bottom: 1%;
			right: 1%;
		}
	}
}

@media screen and (max-width: 565px) {
	.card {
		&__link {
			right: 1%;
		}
	}
}

@media screen and (max-width: 390px) {
	.card {
		&__bg {
			max-height: 300px;
			max-width: 85%;
			margin-left: 26px;
		}

		&__tag {
			left: 40px;
			top: 10px;
		}

		&__link {
			bottom: 2%;
			right: 8%;
		}

		&__title {
			margin-left: 30px;
		}
	}
}

@media screen and (max-width: 370px) {
	.card {
		&__bg {
			margin-left: 25px;
		}

		&__link {
			right: 8%;
		}

		&__title {
			margin-left: 25px;
		}
	}
}

@media screen and (max-width: 360px) {
	.card {
		&__bg {
			margin-left: 15px;
		}

		&__link {
			right: 11%;
		}

		&__title {
			margin-left: 15px;
		}

		&__tag {
			left: 25px;
		}
	}
}

@media screen and (max-width: 350px) {
	.card {
		&__bg {
			margin-left: 5px;
		}

		&__link {
			right: 14%;
		}

		&__title {
			margin-left: 5px;
		}

		&__tag {
			left: 13px;
		}
	}
}

@media screen and (max-width: 335px) {
	.card {
		&__bg {
			margin-left: 1px;
		}

		&__link {
			right: 15%;
		}

		&__title {
			margin-left: 30px;
		}
	}
}

@media screen and (max-width: 322px) {
	.card {
		&__bg {
			max-width: 84%;
		}

		&__link {
			right: 17%;
		}

		&__title {
			margin-left: 30px;
		}
	}
}
