.card {
	&__image {
		position: relative;
	}

	&__bg {
		width: 100%;
		height: 330px;
	}

	&__tag,
	&__link {
		position: absolute;
	}

	&__tag {
		padding: 5px 19px;
		background-color: #1b1c33;
		border-radius: 28px;
		font-family: var(--involve-font);
		text-align: center;
		line-height: var(--line-height-big);
		letter-spacing: -0.48px;
		left: 9px;
		top: 9px;
	}

	&__link {
		bottom: 5%;
		right: 3.5%;
		width: 44px;
		height: 44px;
		padding: 9px;
		border-radius: 43px;
		border: 1px solid transparent;
		background-color: var(--color-lilac);
		color: var(--color-text);
		transition: all 0.3s ease-in-out;

		&:hover {
			border: 1px solid var(--color-lilac);
			background-color: var(--color-text);
			color: var(--color-lilac);
			transition: all 0.3s ease-in-out;
		}
	}

	&__title {
		color: var(--color-text);
		font-size: var(--text-base);
		line-height: var(--line-height);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 1280px) {
	.card {
		&__bg {
			max-height: 259px;
		}
		&__link {
			bottom: 2%;
			right: 1%;
			@media screen and (max-width: 900px) {
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 836px) {
	.card {
		&__bg {
			max-width: 85%;
		}

		&__link {
			bottom: 1.5%;
			right: 2%;
			@media screen and (max-width: 836px) {
				bottom: 1%;
				right: 14%;
			}
		}
	}
}

@media screen and (max-width: 715px) {
	.card {
		&__bg {
			max-width: 90%;
		}

		&__link {
			bottom: 0;
			right: 8%;
		}
	}
}

@media screen and (max-width: 650px) {
	.card {
		&__bg {
			max-width: 95%;
		}

		&__link {
			bottom: 1%;
			right: 3%;
		}
	}
}

@media screen and (max-width: 565px) {
	.card {
		&__bg {
			max-width: 100%;
		}

		&__link {
			right: -4%;
		}
	}
}


@media screen and (max-width: 460px) {
	.card {
		&__container {
			min-height: 335px;
		}

		&__bg {
			max-height: 245px;
			margin-bottom: 11px;
			max-width: 310px;
		}

		&__link {
			bottom: 4%;
			right: -2%;
		}
	}
}
