.card {
	&__box {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		font: var(--font-description-main);
		font-weight: 700;
	}

	&__title {
		display: inline-flex;
		align-items: center;
		padding-bottom: 20px;
		border-bottom: 1px solid white;

		span {
			font: var(--font-description-main);
			font-weight: 700;
			margin-left: 10px;
		}

		svg {
			&:nth-of-type(2) {
				margin-left: 5px;
			}
		}
	}
}
