.choice-card {
	display: flex;
	border-radius: 20px;
	opacity: 0;
	transition: transform .3s ease-in-out;

	&_inview {
		display: flex;
		border-radius: 20px;
		transition: transform .3s ease-in-out;
		animation: fadeInItem 0.5s ease forwards;
	}

	@keyframes fadeInItem {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	&_inview:hover {
		transform: scale(1.05);
	}

	&__column {
		border-radius: 6px;
		display: inline-flex;
		align-items: center;

		>svg {
			margin-right: 7px;
			min-width: 24px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__title {
		cursor: default;
		color: var(--color-text);
		font: var(--font-title-description);
		padding-top: 3px;
		letter-spacing: -0.48px;
	}

	&__description {
		cursor: default;
		color: var(--color-text);
		font: var(--font-description-main);
		display: inline-block;
	}

	&_design {
		animation-delay: 0.1875s;
		grid-area: 1 / 1 / 2 / 4;
		background-color: var(--color-purple);
		padding: 6% 2.4% 32px;
		background-image: url(/images/choice/design-bg.webp);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right 16px top 0;

		&__wrapper {
			row-gap: 16px;
		}

		&__column {
			background-color: var(--color-bg-ivory);
			padding: 5px;
			max-width: max-content;
		}

		&__description {
			display: inline-block;
			max-width: 66%;
		}
	}

	&_flexibility {
		animation-delay: 0.375s;
		grid-area: 1 / 4 / 3 / 6;
		background-color: var(--color-bg-ivory);
		padding: 9% 2% 9% 14%;
		background-image: url(/images/choice/arrow-1.svg),
			url(/images/choice/arrow-2.svg);
		background-repeat: no-repeat, no-repeat;
		background-position:
			left 8% bottom 35.5%,
			left 13.5% bottom 6.5%;

		&__wrapper {
			row-gap: 12px;
		}

		&__description {
			display: inline-block;
			max-width: 88%;
		}
	}

	&_planet {
		animation-delay: 0.5625s;
		grid-area: 1 / 6 / 3 / 7;
		padding: 10px;
		background-color: var(--color-lilac);

		&__wrapper {
			width: 100%;
			height: 100%;
			border-radius: 100%;
			background-image: url(/images/choice/planet-bg.webp);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top 50% left 50%;
		}
	}

	&_presence {
		animation-delay: 0.75s;
		grid-area: 2 / 1 / 5 / 4;
		background-color: var(--color-pink);
		background-image: url(/images/choice/presence-bg.webp),
			url(/images/choice/figma-cursor.svg);
		background-size: contain, 9%;
		background-repeat: repeat, no-repeat;
		background-position:
			center,
			right 10% top 14%;
		padding: 4% 3% 3% 2.5%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&__wrapper {
			max-width: 80%;
			padding: 3.5% 3% 3%;
			background-color: var(--color-bg-white);
			border-radius: 20px;
			row-gap: 16px;
		}

		&__title {
			color: var(--black-color);
		}

		&__description {
			color: var(--black-color);
			display: inline-block;
			max-width: 92%;
		}
	}

	&_conversion {
		animation-delay: 0.9375s;
		grid-area: 3 / 4 / 5 / 7;
		background-color: var(--color-blue);
		background-image: url(/images/choice/percent-bg.webp);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right 0;
		padding: 4.5% 5.3%;

		&__wrapper {
			row-gap: 18px;
		}

		&__column {
			padding: 5px;
			background-color: var(--color-bg-ivory);
			max-width: fit-content;
		}

		&__description {
			max-width: 65%;
		}
	}

	&_safety {
		animation-delay: 1.125s;
		grid-area: 5 / 1 / 9 / 3;
		align-items: flex-start;
		padding: 6% 7.7%;
		background-color: var(--color-lilac);
		background-image: url(/images/choice/safety-bg.webp);
		background-repeat: repeat-x;
		background-position: left 0 bottom 0;

		&__column {
			margin-bottom: 10px;
		}
	}

	&_optimization {
		animation-delay: 1.3125s;
		grid-area: 5 / 3 / 9 / 5;
		padding: 25% 0 24% 9.5%;
		background-image: url(/images/choice/optimization-bg.webp);
		background-repeat: no-repeat;
		background-size: cover;

		&__wrapper {
			row-gap: 12px;
		}

		&__description {
			max-width: 83%;
		}

		&__column {
			>svg {
				margin-right: 5px;
			}
		}
	}

	&_attraction {
		animation-delay: 1.5s;
		grid-area: 5 / 5 / 9 / 7;
		padding: 13.5% 2% 0 5.5%;
		background-color: var(--color-purple);
		background-image: url(/images/choice/attraction-bg.webp);
		background-repeat: repeat-x;
		background-position: left 0 bottom 0;

		&__wrapper {
			row-gap: 12px;
		}

		&__column {
			background-color: var(--color-bg-ivory);
			padding: 5px;
		}
	}
}
@media screen and (max-width: 1439px) {
	.choice-card {
	&_design {
		&__column {
			max-width: 60%;
		}

		&__description {
			max-width: 58.5%;
		}
	}

		&_planet {
		&__wrapper {
			width: 100%;
			height: 80%;
			margin: auto;
			@media screen and (min-width: 1339px) {
				height: 95%;
			}
		}
	}
	}
}

@media screen and (max-width: 1280px) {
	.choice-card {
		&_design {
			background-size: 14%;
			background-position: right 0 top 30px;
			background-image: url(/images/choice/design-bg-1280.svg);
			padding: 4% 3% 4%;

			&__description {
				max-width: 84%;
			}

			&__column {
				max-width: 90%;
			}
		}

		&_planet {
			display: none;
		}

		&_flexibility {
			grid-area: 1 / 4 / 3 / 7;
			padding: 10% 10% 10% 11.5%;
			background-position:
				left 5.5% bottom 34%,
				left 9% bottom 12%;

			&__column {
				max-width: 80%;
			}

			&__description {
				max-width: 100%;
			}
		}

		&_presence {
			animation-delay: 0.5625s;
			padding-bottom: 4%;
			padding-top: 6%;
			background-size: cover, 11.5%;
			background-position:
				center,
				right 1.5% top 4%;
			align-items: center;

			&__wrapper {
				max-width: 100%;
				padding: 4% 3% 2% 4%;
			}
		}

		&_conversion {
			animation-delay: 0.75s;
			padding: 5% 4% 7% 4%;
			background-size: 40% stretch;
			background-position: right -30px top;

			&__description {
				max-width: 90%;
			}
		}

		&_safety {
			animation-delay: 0.9375s;
			padding: 4% 6%;
		}

		&_optimization {
			animation-delay: 1.125s;
			padding: 28% 4.8% 23%;

			&__column {
				>svg {
					margin-right: 10px;
				}
			}

			&__description {
				max-width: 100%;
			}
		}

		&_attraction {
			animation-delay: 1.3125s;
			padding: 8%;

			&__wrapper {
				row-gap: 14px;
			}

			&__column {
				align-items: normal;
				padding: 1% 2% 0;

				>svg {
					margin-right: 8px;
					margin-top: 12px;
				}
			}
		}
	}
}

@media screen and (min-width: 834px) and (max-width: 1084px) {
	.choice-card {
		&_design {
			padding: 6% 3% 4% 5%;

			&__column {
				max-width: 87%;
				padding: 0;
				padding-left: 5px;

				>svg {
					min-width: 24px;
				}
			}

			&__description {
				max-width: 87%;
			}
		}

		&_flexibility {
			padding: 12.8% 0 14% 11.5%;
			background-position:
				left 4.5% bottom 36%,
				left 10% bottom 12%;
		}

		&_presence {
			padding: 20% 6% 3.5% 5%;
			background-size: cover, 15%;
			background-position:
				center,
				right 3.5% top 4%;

			&__wrapper {
				padding: 4% 5% 5%;
				row-gap: 10px;
			}

			&__description {
				max-width: 100%;
			}
		}

		&_conversion {
			padding: 5% 0 7% 5%;
			background-size: 50%;
			background-position: right -30px bottom -30px;
			@media screen and (max-width: 920px) {
				background-size: 55%;
			}

			&__wrapper {
				row-gap: 14px;
			}

			&__description {
				max-width: 55%;
			}
		}

		&_safety {
			padding: 5% 7%;

			&__wrapper {
				row-gap: 2px;
			}

			&__description {
				max-width: 95%;
			}
		}

		&_optimization {
			padding: 5% 7% 48%;
		}

		&_attraction {
			&__wrapper {
				row-gap: 18px;
			}

			&__column {
				flex-direction: column;
				padding: 0 5%;
			}
		}
	}
}

@media screen and (max-width: 833px) {
	.choice-card {
		&_presence {
			animation-delay: 0.1875s;
			grid-area: 1 / 1 / 1 / 1;
			padding: 10% 5% 5.5%;
			align-items: normal;
			background-size: cover, 10%;

			&__wrapper {
				max-width: 92%;
				row-gap: 12px;
				padding: 2% 0 3% 5%;
			}
		}

		&_flexibility {
			animation-delay: 0.375s;
			grid-area: 2 / 1 / 2 / 1;
			padding: 6% 5% 8% 10%;

			background-position:
				left 3% bottom 24%,
				left 12% bottom 5%;
		}

		&_design {
			animation-delay: 0.5625s;
			grid-area: 3 / 1 / 3 / 1;
			padding: 4% 12% 3% 5%;
			background-image: url(/images/choice/design-bg-390.svg);
			background-size: 34%;
			background-position: right 0 bottom 0;

			&__wrapper {
				row-gap: 18px;
			}

			&__column {
				padding: 0;
				padding-left: 4px;
				max-width: 73%;
			}

			&__description {
				max-width: 73%;
			}
		}

		&_conversion {
			animation-delay: 0.75s;
			grid-area: 4 / 1 / 4 / 1;
			padding-bottom: 4%;
			background-image: url(/images/choice/conversion-bg-390.svg);
			background-position: bottom 26% right 0;

			&__wrapper {
				row-gap: 16px;
			}

			&__column {
				padding: 0;
				padding-left: 5px;
				max-width: 69%;
			}

			&__description {
				max-width: 69%;
			}
		}

		&_optimization {
			animation-delay: 0.9375s;
			grid-area: 5 / 1 / 5 / 1;
			padding: 4%;
			padding-bottom: 7%;
		}

		&_safety {
			animation-delay: 1.125s;
			grid-area: 6 / 1 / 6 / 1;
			padding: 3% 4% 19%;
			background-size: 100%;
		}

		&_attraction {
			animation-delay: 1.3125s;
			grid-area: 7 / 1 / 7 / 1;
			padding: 4%;
			padding-bottom: 28%;

			&__wrapper {
				row-gap: 18px;
			}

			&__column {
				max-width: 90%;
				padding-right: 0;
			}
		}
	}
}

@media screen and (max-width: 701px) {
	.choice-card {
		height: 100%;

		&__wrapper {
			justify-content: center;
		}

		&_attraction {
			&__column {
				&>svg {
					margin-top: 3px;
				}
			}
		}

		&_flexibility {
			background-position:
				left 3% bottom 24%,
				left 12% bottom 12%;
		}

		&_conversion {
			&__column {
				max-width: 65%;
			}
			@media screen and (max-width: 655px) {
				background-size: 40%;
				background-position: right center;
			}
		}

		&_flexibility {
			background-position: left 3% bottom 45%, left 12% bottom 20%;
			@media screen and (width: 701px) {
				background-position: left 3% bottom 45%, left 12% bottom 12%;
			}
		}

		&_safety {
			&__wrapper {
				height: 100%;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.choice-card {
		&_design {
			&__column {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 391px) {
	.choice-card {

		&__title {
			letter-spacing: normal;

			&_conversion {
				padding-top: 1px;
			}
		}
		
		&_presence {
			padding: 19% 5% 5% 4.5%;
			align-items: normal;
			background-size: cover, 15%;

			&__wrapper {
				padding: 2% 0 4% 5%;
			}
		}

		&_flexibility {
			padding: 1% 5% 8% 10%;
			background-position: left 3% bottom 38%, left 15% bottom 19%;

			&__wrapper {
				row-gap: 11px;
			}
		}

		&_design {
			background-size: 27%;
			background-position: right 0px bottom 56px;
				&__column {
					padding-right: 5px;
				}
		}

		&_conversion {
			padding: 7% 4% 7% 5%;
			background-position: bottom 38% right 0;

			&__column {
				padding-left: 3px;
			}
		}

		&_safety {
			padding: 18% 5% 19%;

			&__wrapper {
				row-gap: 11px;
			}

			&__column {
				margin-bottom: 0;

				&>svg {
					margin-right: 5px;
				}
			}
		}

		&_optimization {
			padding: 4% 4%;
			&__column {
				&>svg {
					margin-right: 6px;
				}
			}
		}

		&_attraction {
			padding-bottom: 5%;

			&__column {
				&>svg {
					margin-top: 12px;
				}
			}
		}
	}
}