.step-one {
  width: 337px;
  height: 176px;
  opacity: 1;

  &_inview {
    opacity: 1;
    animation: fadeInItem 0.5s ease forwards;
    background-color: var(--color-bg-white);
    width: 337px;
    height: 176px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

  .image {
    opacity: 0;

    &_inview {
      animation: fadeIn 0.5s ease forwards;


      &:nth-child(2) {
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



