.step-one {
    opacity: 1;
    animation: fadeInItem 0.5s ease 0.04s forwards;
    background-color: var(--color-bg-white);
    width: 337px;
    height: 176px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //animation-delay: 0.04s;
}

  .image {
    opacity: 1;


    &__one {

      &_inview {
        animation: fadeIn 0.04s ease forwards;
      }
    }

    &__two {

      &_inview {
        animation-delay: 1s;
        animation: fadeIn 0.5s ease forwards;
      }
    }

    &__three {

      &_inview {
        animation-delay: 1s;
        animation: fadeIn 0.5s ease forwards;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

//@media screen and (max-width: 1280px) {
//  .step-one {
//    width: 294px;
//    height: 162px;
//  }
//}
//
//@media screen and (max-width: 834px) {
//  .step-one {
//    width: 280px;
//    height: 141px;
//  }
//}


