.modal-back {
	position: fixed;
	overflow-y: auto;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #0706067f;
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(7.5px);
	padding: 80px 0;
}

.modal {
	position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
	background-color: var(--color-bg-white);
	border-radius: 20px;
	padding: 74px 40px 40px;

	&__title {
		font: var(--font-block-title);
		line-height: var(--line-height);
		margin-bottom: 40px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__btn {
		font: var(--font-button-rg);
		color: var(--color-white);
		padding: 16.7px 25px;
		background: var(--color-purple-gradient);
		border-radius: 5px;
		border: none;
	}
}
