@import 'normalize.css';

@font-face {
	font-family: 'RG-StandardSemibold';
	src:
		url('../fonts/RG-StandardSemibold.woff2') format('woff2'),
		url('../fonts/RG-StandardSemibold.woff') format('woff'),
		url('../fonts/RG-StandardSemibold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cygre';
	src:
		url('../fonts/Cygre.woff2') format('woff2'),
		url('../fonts/Cygre.woff') format('woff'),
		url('../fonts/Cygre.ttf') format('ttf'),
		url('../fonts/Cygre-Bold.woff2') format('woff2'),
		url('../fonts/Cygre-Bold.woff') format('woff'),
		url('../fonts/Cygre-Bold.ttf') format('ttf');
	font-style: normal;
}

:root {
	--max-width: 1440px;
	--rg-font: 'RG-StandardSemibold';
	--cygre-font: 'Cygre';

	// Цвета

	// Размеры и отступы

	// ... остальное
}

.body {
	font-family: 'Cygre';
}
