.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
	font-family: var(--rg-font);
	background-color: var(--color-bg-black);
}
