.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--color-bg-white);
	padding: 80px;

	&__title {
		margin-bottom: 80px;

		h2 {
			font: var(--font-block-title);
			line-height: 57.6px;
			color: var(--color-lilac);
		}

		h3 {
			font:var(--font-title-description);
			line-height: 24px;
			max-height: 13px;
			max-width: 483px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		&_block {
			margin-bottom: 40px;

			h3 {
				font: var(--font-title-description);
				line-height: 24px;
				margin-bottom: 20px;
			}

			p {
				font: var(--font-description-main);
				line-height: 20.8px;
			}
		}
	}
}
