.container {
	width: var(--block-max-width);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--color-text);
	padding: 80px 128px;
	margin: 0 auto;

	&__title {
		margin-bottom: 80px;

		h2 {
			font: var(--font-block-title);
			color: var(--color-lilac);
		}

		h3 {
			font: var(--font-title-description);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 40px;

		&_block {
			h3 {
				font: var(--font-title-description);
				margin-bottom: 20px;
			}

			p {
				font: var(--font-description-main);
			}
		}
	}
}
