.tech-stack {
	width: 100%;
	background-image: url('../../../public/images/techStack/tech-stack-background.webp');
	background-position-y: top;
	background-position-x: left;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 45px 34px 44px rgba(0, 0, 0, 1) inset;
	-moz-box-shadow: 0px 45px 34px 44px rgba(0, 0, 0, 1) inset;
	box-shadow: 0px 45px 34px 44px rgba(0, 0, 0, 1) inset;

	&__container {
		max-width: var(--block-max-width);
		margin: 0 auto;
		padding-block: 74px 56px;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 60px;
		color: var(--color-text);

		@media screen and (max-width: 1439px) {
			max-width: 80%;
			padding-block: 80px;
			padding-top: 104px;
		}

		@media screen and (max-width: 1279px) {
			max-width: 92%;
		}

		@media screen and (max-width: 833px) {
			max-width: 82%;
			padding-block: 60px 34px;
			row-gap: 58px;
		}
	}

	&__head {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: 37px 20px;

		@media screen and (max-width: 730px) {
			grid-template-columns: 1fr;
		}

		@media screen and (max-width: 520px) {
			gap: 35px 20px;
		}
	}

	&__banner {
		display: flex;
		flex-direction: column;
		margin-top: -11px;
	}

	&__title {
		font: var(--font-block-title);
	}

	&__subtitle {
		width: calc(100% - 20px);
		font: var(--font-title-description);

		@media screen and (max-width: 1024px) {
			width: 100%;
		}
	}

	&__short-description {
		padding: 38px 20px;
		display: flex;
		column-gap: 10px;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(7.5px);
		border-radius: 10px;
		color: var(--color-lilac);
		font: var(--font-description-main);

		@media screen and (max-width: 520px) {
			padding: 18px 20px;
		}

		svg {
			min-width: 24px;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		row-gap: 38px;

		@media screen and (max-width: 520px) {
			row-gap: 33px;
		}
	}
}
