.container{
    background-image: url(../../images/header/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 736px;
    font-family: var(--cygre-font);
    color: var(--color-text);
    font-size: var(--text-sm);
    font-style: normal;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 251px;
    height: 48px;
    padding: 10px 20px;
    margin: 20px 80px 0 80px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4px 46.7px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    &__icon{
        width: 110px; 
        height: 14px; 
    }

    &__menu{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__link{
        font-weight: 400;
        line-height: 130%; 
        letter-spacing: -0.48px;
        color: var(--color-text);
        text-decoration: none;
    }

    &__phone{
        font-weight: 700;
        line-height: normal;
    }
}
.block{
    display: grid;
    grid-template-columns: 1fr 398px;
    grid-template-rows: 100px;
    grid-template-areas: 'block-text block-form'  
    'block-icons block-form' ;
    gap: 351px;
    padding: 66px 80px 0 80px;

    &__text{
        width: 460px;
        grid-area: block-text;
        color: var(--color-text);
        font-family: var(--rg-font);
        font-size: var(--text-lg);
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    &__icons{
        grid-area: block-icons;
        display: flex;
        gap: 10px;

    }

    &__icon{
        display: flex;
        gap: 10px;
        padding: 15px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(11.600000381469727px);
    }

    &__form{
        grid-area: block-form;
        display: grid;
        border-radius: 20px;
        border: 1px solid var(--color-bg-white);
        background: var(--color-bg-white);
        padding: 40px;
        color: var(--dark-purple);

        &_textone{
            font-size: --text-base;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        &_texttwo{
            color: rgba(24, 57, 108, 0.60);
            font-size: --text-sm;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
            letter-spacing: -0.48px;
            margin-bottom: 20px;
        }

        input{
            width: 100%;
            height: 51px;
            padding: 20px 10px;
            margin-top: 10px;
            border-radius: 10px;
            background: var(--input-default);
            border: none;
        }

        &_btn{
            width: 100%;
            padding: 20px 25px;
            border: none;
            border-radius: 5px;
            background: var(--color-purple-gradient);
            color: var(--color-text);
            font-family: var(--rg-font);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; 
        }
    }
}