.footer {
  width: 88.9%;
  max-width: 1280px;
  min-height: 314px;
  margin: 93px auto 160px;
  padding: 35px 23px 40px 42px;
  border-radius: 30px;
  font: var(--font-description-main);
  letter-spacing: -0.03em;
  line-height: 21px;
  color: var(--color-text);
  background-color: var(--color-purple);

  &__row {
    display: flex;
    justify-content: space-between;

    &:first-of-type {
      margin-block-end: 47px;
    }
  }

  &__image-no-text {
    max-width: 8.5%;
    align-self: flex-end;
    cursor: pointer;
  }

  &__image-text {
    width: 35%;
    max-width: 33%;
    margin-block-start: 10px;
    padding-inline-end: 9px;
  }

  &__social-group {
    width: 9%;
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: var(--color-text);
  }

  &__link-policy {
    &:hover {
      text-decoration: underline;
    }
  }
}

