.interaction {
	width: 100%;
	color: var(--color-text);
	background-image: url('/images/interaction/interaction-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--color-bg-black);

	&__description-wrapper {
		width: 88.9%;
		max-width: 1280px;
		margin: 0 auto;
	}

	&__title {
		width: 61%;
		margin-block-start: 46px;
		margin-block-end: 2px;
		font: var(--font-block-title);
	}

	&__description {
		width: 61%;
		margin-block-end: 60px;
		font: var(--font-title-description);
	}
}

.steps {
	width: 88.9%;
	max-width: 1280px;
	margin: 0 auto 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
