.interaction {
	width: 100%;
	color: var(--color-text);
	background-image: url('/images/interaction/interaction-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--color-bg-black);

	&__description-wrapper {
		width: 88.9%;
		max-width: 1280px;
		margin: 0 auto;
		margin-block-end: 60px;
	}

	&__title {
		width: 61%;
		margin-block-start: 46px;
		margin-block-end: 2px;
		font: var(--font-block-title);
	}

	&__description {
		width: 61%;
		font: var(--font-title-description);
	}

	@media screen and (max-width: 1280px) {
		&__description-wrapper {
			max-width: 1024px;
			margin-block-end: 56px
		}

		&__title {
			width: 76%;
			margin-block-start: 67px;
		}

		&__description {
			width: 76%;
		}
	}
}

.steps {
	width: 88.9%;
	max-width: 1280px;
	margin: 0 auto 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media screen and (max-width: 1280px) {
		max-width: 1024px;
	}
}
