.interaction {
	width: 100%;
	color: var(--color-text);
	background-image: url('/images/interaction/interaction-background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--color-bg-black);

	&__wrapper {
		max-width: var(--block-max-width);
		margin: 67px auto 57px;
	}

	&__title {
		width: 61%;
		margin-block-end: 2px;
		font: var(--font-block-title);
	}

	&__description {
		width: 61%;
		margin-bottom: 56px;
		font: var(--font-title-description);
	}

	@media screen and (max-width: 1280px) {
		&__wrapper {
			max-width: var(--width-1280-1024);
		}

		&__description-wrapper {
			max-width: 1024px;
			margin-block-end: 56px
		}

		&__title {
			width: 78%;
		}

		&__description {
			width: 77%;
		}
	}

	@media screen and (max-width: 1060px) {
		&__wrapper {
			max-width: var(--width-1024-768);
		}
	}

	@media screen and (max-width: 835px) {
		&__wrapper {
			margin: 67px auto 33px;
		}

		&__title {
			width: 100%;
		}

		&__description {
			width: 100%;
		}
	}

	@media screen and (max-width: 800px) {
		&__wrapper {
			max-width: clamp(260px, 82%, 768px);
		}
	}

	@media screen and (max-width: 480px) {
		&__wrapper {
			margin: 49px auto 37px;
		}

		&__title {
			font-size: 40px;
			margin-block-end: 22px;
		}
	}

	@media screen and (max-width: 351px) {
		&__title {
			font-size: 32px;
		}	
	}

	@media screen and (max-width: 391px) {
		&__wrapper {
			max-width: 91%;
			margin: 49px 0 auto 37px;
		}

		.steps__card {
			width: 91%;
		}

		.steps {
			&__pagination {
				display: block;
				width: 155px !important;
				margin: 0 auto !important;
			}
		}
	}
}

.steps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media screen and (max-width: 1280px) {
		max-width: 1024px;
	}

	&__pagination {
		display: none;
	}

	&__pagination-bullet {
		width: 12px;
		height: 12px;
		margin: 0 2.5px !important;
		background-color: var(--color-bg-white);
	}
}
