.approach-wrapper {
    position: relative;
    opacity: 0;

        &_active {
            animation: fadeIn 0.3s ease-in-out 1.69s forwards;

            @keyframes rotate {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(180deg);
                }
              }
              
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

    

    &__icon {
        position: absolute;
        opacity: 0;

        &_active {
            &-left {
                animation: fadeIn 0.25s ease-in-out 1.84s forwards, rotate 0.25s linear 1.84s forwards;
            } 

            &-middle {
                animation: fadeIn 0.25s ease-in-out 2.09s forwards, rotate 0.25s linear 2.09s forwards;
            }

            &-right {
                animation: fadeIn 0.25s ease-in-out 2.34s forwards, rotate 0.25s linear 2.34s forwards;
            }

            &-bottom {
                animation: fadeIn 0.25s ease-in-out 2.59s forwards, rotate 0.25s linear 2.59s forwards;
            }
        }

        &_left {
            top: 8px;
            left: 8px;
        }

        &_middle {
            top: 8px;
            left: 94px;
        }

        &_right {
            top: 8px;
            right: 8px;
        }

        &_bottom {
            bottom: 15px;
            left: 90px;
        }

        @media screen and (max-width: 666px) {
            width: 21px;
            height: 21px;

            &_left {
                top: 6px;
                left: 6.5px;
            }

            &_middle {
                top: 6px;
                left: 70px;
                height: 20.53px;
            }

            &_right {
                top: 6px;
                right: 6.5px;
                width: 20.25px;
                height: 21.25px;
            }

            &_bottom {
                bottom: 8px;
                left: 67px;
                width: 28.5px;
                height: 34.5px;
            }
        }
    }

    @media screen and (max-width: 666px) {
        width: 161.25px;
        height: 121.5px;

        &__background {
            width: 100%;
            height: 100%;
        }
    }
}