.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 90%;
    padding: 4px 9px 66px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
  }

  &__right {
    display: flex;
    flex-direction: column;

    & > h4 {
      font: var(--font-title-description);
      line-height: 105%;
      margin: 0 0 15px;
    }

    &__item {
      margin: 0 0 15px;
      padding: 0;
      font: var(--font-description-main);
      letter-spacing: -0.48px;
      line-height: 114%;
    }
  }

  &__prices {
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-family: var(--rg-font);
    font-size: var(--text-lg);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    &_pre {
      margin-right: 4px;
      font-size: 20px;
    }

    &_new {
      font-size: var(--text-lg);
      margin-right: 8px;
    }

    &_old {
      font: var(--font-title-description);
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;
      bottom: -12px;

      &:before {
        content: "";
        border-bottom: 2px solid #eb5757;
        position: absolute;
        top: -7px;
        right: 9px;
        width: 83%;
        height: 42%;
        transform: rotate(17deg);
      }
    }
  }

  &__popup {
    display: none;
  }

  &__btns {
    display: flex;
    justify-content: space-between;

    &_order {
      padding: 10px 0;
      height: 40px;
      width: calc(100% - 48px);
      border-radius: 5px;
      border: none;
      background-color: var(--color-lilac);
      text-align: center;
      font: var(--font-title-description);
      color: var(--color-text);
      line-height: 100%;
      cursor: pointer;

      &:hover {
        background-color: #b3b9fc;
      }

      &:active {
        background-color: #cbcffd;
      }
    }

    &_ask {
      display: grid;
      place-items: center;
      height: 40px;
      width: 37px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      color: var(--color-text);
      background-color: transparent;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--color-text);
      }
    }
  }
}

@media screen and (min-width: 581px) and (max-width: 1279px) {
  .service-card {
    &__content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 0 12px;
      padding: 6px 6px 96px;
    }

    &__right {
      & > h4 {
        margin-bottom: 16px;
      }
    }

    &__prices {
      align-items: baseline;
      bottom: -2px;
      left: 12px;

      &_old {
        bottom: 1px;
        &:before {
          top: 0;
          right: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 581px) and (max-width: 685px) {
  .service-card {
    &__prices {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 580px) {
  .service-card {
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      margin: 0 0 12px;
      padding: 7px 9px 11px;
    }

    &__right {
      padding-bottom: 23px;

      &__item {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        animation: fadeIn 0.3s ease forwards;

        &.shown {
          display: block;
          height: fit-content;
          opacity: 1;
        }
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(2px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__prices {
      align-items: baseline;
      bottom: -2px;
      left: 12px;

      &_old {
        bottom: 0;
        &:before {
          top: 0;
          right: 9px;
        }
      }
    }

    &__popup {
      display: grid;
      place-items: center;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;

      &.shown {
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .service-card {
    &__prices {
      &_new {
        font-size: 7vw;
        margin-right: 8px;
      }
      &_old {
        font-size: 6vw;
      }
    }
  }
}
