.step {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 32%;
	padding: 28px 27px 12px;
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: var(--color-bg-black);


	&__number {
		margin-right: auto;
		width: 78px;
		max-height: 35px;
		padding: 6px 8px;
		border-radius: 41px;
		text-align: center;
		font: var(--font-title-description);
		color: #1b1c33;
		background-color: var(--color-lilac);
	}

	&__title {
		margin-block-start: 5px;
		margin-block-end: 32px;
		margin-right: auto;
		font: var(--font-title-description);
		letter-spacing: var(--font-description-letter);
	}

	&__description {
		margin-block-end: 33px;
		font: var(--font-description-main);

		&_design {
			margin-bottom: 10px;
		}

		&_approach {
			margin-bottom: 12px;
		}

		&_testing {
			margin-bottom: 26px;
		}

		&_support {
			margin-bottom: 45px;
		}
	}

	&__image {
		text-align: center;
	}

	@media screen and (max-width: 1280px) {
		padding: 19px 18px 7px;

		&__title {
			margin-block-start: 5px;
			margin-block-end: 30px;
		}

		&__description {
			letter-spacing: normal;
			margin-block-end: 40px;
			width: 99%;

			&_design {
				margin-block-end: 19px;
			}

			&_approach {
				margin-block-end: 19px;
			}

			&_communication {
				margin-block-end: 20px;
			}

			&_testing {
				margin-block-end: 15px;
			}

			&_support {
				margin-block-end: 25px;
			}
		}
	}

	@media screen and (max-width: 1060px) {
		max-width: 31%;
	}

	@media screen and (max-width: 835px) {
		max-width: 100%;
		height: 100%;
		padding: 26px 25px 0;

		&__title {
			margin-block-end: 33px;
		}
	}


	@media screen and (max-width: 660px) {
		max-width: 100%;
	}

	@media screen and (max-width: 480px) {
		padding: 18px 18px 0;

		&__description {
			margin-block-end: 25px;
		}
	}

	@media screen and (max-width: 391px) {
		&__title {
			letter-spacing: 0.19px;
		}
		&__description {
			&_support {
				margin-block-end: 8px;
			}
		}
	}
}
