.card-line {
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 37px;

		@media screen and (min-width: 834px) and (max-width: 1279px) {
			row-gap: 34px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		column-gap: 10px;
		color: var(--color-lilac);
		font: var(--font-title-description);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-gap: 17px 20px;

		@media screen and (max-width: 833px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, auto);
			grid-auto-flow: column;
		}

		@media screen and (max-width: 420px) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(8, auto);
		}
	}
}
