.card-line {
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__title {
		display: flex;
		align-items: center;
		column-gap: 10px;
		color: var(--color-lilac);
		font-family: var(--rg-font);
		font-size: var(--text-base);
	}

	&__list {
		display: flex;
		column-gap: 20px;
	}
}
