.contacts {
	display: flex;
	flex-direction: column;
	row-gap: 65px;
	width: 100%;
	max-width: 1280px;
	padding: 3.125rem;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	color: var(--color-text);

	&__title {
		margin: 0;
		display: block;
		all: unset;
		line-height: 56%;
		font-size: var(--text-xl);
	}

	&__body {
		display: flex;
		column-gap: 105px;
	}
}

.link-group {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: 39%;
	min-width: 39%;
	max-height: 252px;
	flex-wrap: wrap;
	font-family: var(--cygre-font);
	letter-spacing: -0.48px;
	gap: 10px;
}

.link-box {
	display: flex;

	&:first-of-type,
	&:nth-of-type(2),
	&:nth-of-type(5) {
		flex-grow: 1;
	}

	&:nth-of-type(2) {
		line-height: 65%;
	}

	&:nth-of-type(3) {
		display: flex;
		flex-direction: column;
		flex-basis: 21%;
	}

	&:nth-of-type(4) {
		flex-basis: 43%;
	}
}

//TODO рефактор повторения кода

.link {
	all: unset;
	display: flex;
	padding: 20px;
	cursor: pointer;
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
	align-self: stretch;
	transition: all 0.3s ease-out;

	&:hover {
		background-color: var(--color-lilac);
		border: 1px solid rgba(255, 255, 255, 0);
		transition: all 0.3s ease-out;
	}

	&_messenger {
		all: unset;
		display: flex;
		flex-direction: column;
		padding: 20px;
		cursor: pointer;
		row-gap: 10px;
		width: 100%;
		border: 1px solid white;
		border-radius: 10px;
		line-height: 30%;
		transition: all 0.3s ease-out;

		&:hover {
			background-color: var(--color-lilac);
			border: 1px solid rgba(255, 255, 255, 0);
			transition: all 0.3s ease-out;
		}
	}

	&__item {
		display: flex;
		justify-items: flex-start;
		align-items: flex-start;

		&_no-margin {
			margin: 0;
		}

		&_word-space {
			word-spacing: 1.5rem;
		}

		&_tel {
			display: flex;
			flex-direction: column;
			row-gap: 18px;
		}

		&:nth-child(2) {
			margin-left: auto;
		}
	}
}

.form-box {
	flex-grow: 1;
	font-family: var(--cygre-font);
}

.form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;

	textarea {
		resize: none;
		padding: 20px;
		height: 161px;
		overflow: hidden;
	}

	&__notice {
		margin-top: 10px;
		letter-spacing: -0.48px;
		flex-basis: 100%;

		&:nth-of-type(2) {
			margin-top: 0;
		}
	}

	&__button {
		margin-top: 30px;
		width: 100%;
		padding: 15px 25px;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		color: var(--color-text);
		background: var(--color-purple-gradient);
		font-family: var(--rg-font);
		font-size: var(--text-base);

		&:focus {
			outline: none;
		}

		&:hover {
			background: var(--color-purple-gradient-hovered);
		}

		&:active {
			background: var(--color-purple-gradient-active);
		}
	}

	&__input {
		padding: 20px 10px;
		height: 65px;
		border: none;
		border-radius: 10px;
		transition: all 0.3s ease-out;

		&::placeholder {
			font-size: var(--text-sm);
			letter-spacing: -0.48px;
			color: var(--color-input);
		}

		&:first-of-type {
			flex-basis: 100%;
		}

		&:nth-of-type(2),
		&:nth-of-type(3) {
			flex-basis: calc(50% - 5px);
		}

		&:nth-of-type(4) {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		&:focus:not(input[type='file']) {
			outline: 0;
			background-color: var(--color-input-active);
			color: var(--color-text-input-active);
			transition: all 0.3s ease-out;

			&::placeholder {
				color: transparent;
			}
		}
	}
}

.label {
	cursor: pointer;
	padding: 15px 25px;
	border: 1px solid white;
	border-radius: 10px;
	width: 295px;
	margin-top: 10px;
	text-align: center;
	margin-right: auto;
	line-height: 39%;
	transition: all 0.3s ease-out;

	&:hover {
		background-color: var(--color-lilac);
		border: 1px solid rgba(255, 255, 255, 0);
		transition: all 0.3s ease-out;
	}
}
