.input-clear-btn,
.textarea-clear-btn {
	all: initial;
	cursor: pointer;
	color: var(--color-text-input-active);
	position: absolute;
}

.textarea-clear-btn {
	top: 20px;
	right: 20px;
}

.input-clear-btn {
	top: 25px;
	right: 15px;
}
