.recommendations {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 540;
    padding-left: 80px;
    background-image: url(../../images/recommendations/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text);
  }

  &__title {
    display: block;
    font-size: 42px;
  }

  &__arrows {
    display: flex;
    margin-top: 20px;
    column-gap: 10px;
  }

  &__preview-box {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
  }
}
.arrow-btn {
  background: none;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;

  &:active {
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in;
  }
}

.information {
  display: flex;
  position: relative;
  justify-content: center;

  &-picture {
    display: block;
  }
  &-name {
    display: block;
  }
}
