.recommendations {
  &__container {
    display: flex;
    max-width: 1280px;
    min-height: 659px;
    background-image: url(../../images/recommendations/background.png);
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    border-radius: 20px;
    color: var(--color-text);
    flex-wrap: wrap;
  }

  &__title {
    font: var(--font-block-title);
    margin: 0;
    margin-bottom: 20px;
    color: var(--color-text);
  }

  &__arrows {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    column-gap: 10px;
  }
}
.arrow-btn {
  background: none;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;

  &:active {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in;
  }
}

.card {
  &__container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

.card__details {
  display: flex;
  margin-top: 0px;
  margin-left: 320px;
  flex-direction: row;
  &__circle {
    margin-right: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &_title {
    font-family: var(--rg-font);
    color: var(--color-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  &_information {
    display: flex;
    flex-direction: column;
  }
}
